@media screen and (max-width: 500px) {
    #section1 {
    }
    #section1 .container {
    }
    #section1 .container h1 {
        font-size: 28px;
        font-weight: 700;
    }
    #section1 .container p {
        font-size: 16px;
    }
    #section1 .container div {
        height: 200px;
    }
    #section2 {
    }
    #section2 .container {
    }
    #section2 .container .s2W {
        display: none;
    }
    #section2 .container .s2M {
        display: block;
        font-size: 14px;
        text-align: left;
        line-height: 22px;
        margin-bottom: 100px;
    }
    #section2 .container .s2Frame {
        display: block;
        width: 100%;
        height: auto;
    }
    #section2 .container .s2Frame .s2Box {
        width: 100%;
    }
    #section2 .container .s2Frame .s2Box a {
    }
    #section2 .container .s2Frame .s2Box h5 {
        font-size: 18px;
        font-weight: 600;
    }
    #section2 .container .s2Frame .s2Box p {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        margin-top: 20px;
    }
    #section2 .container .s2Frame .s2Box1 {
    }
    #section3 {
    }
    #section3 .container {
    }
    #section3 .container h3 {
        font-size: 20px;
        font-weight: 600;
    }
    #section3 .container p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 100px;
    }
    #section3 .container .s3Box {
        display: block;
    }
    #section3 .container .s3Box div {
        width: 100%;
    }
    #section3 .container .s3Box div img {
    }
    #section3 .container .s3Box div h3 {
        margin-left: 2%;
        font-size: 16px;
        font-weight: 600;
    }
    #section3 .container .s3Box div p {
        margin-top: 5px;
        margin-left: 2%;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}
