@media screen and (max-width: 500px) {
    #section1 {
    }
    #section1 .container {
    }
    #section1 .container h1 {
        font-size: 28px;
        font-weight: 700;
    }
    #section1 .container p {
        font-size: 16px;
        margin-top: 10px;
    }
    #section1 .container div {
        height: 200px;
        margin-top: 100px;
    }
    #section2 {
    }
    #section2 .container {
    }
    #section2 .container .s2W {
        display: none;
    }
    #section2 .container .s2M {
        display: block;
    }
    #section2 .container .s2M p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 100px;
    }
    #section3 {
    }
    #section3 .container {
    }
    #section3 .container .s3Box {
        width: 100%;
    }
    #section3 .container .s3Box .s3ImgBox {
        width: 100%;
    }
    #section3 .container .s3Box .s3ImgBox img {
        width: 300px;
    }
    #section3 .container .s3Box h3 {
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }
    #section3 .container .s3Box p {
        margin-top: 30px;
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }
    #section4 {
    }
    #section4 .container {
    }
    #section4 .container .s4W {
        display: none;
    }
    #section4 .container .s4M {
        display: block;
    }
    #section4 .container .s4M p {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 50px;
    }
}
